# Convert all signals in the same file and synchronize them

In [1]:
import pandas as pd
import os
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [ ]:
from scr import RawData

In [ ]:
dataset_path='Wearable_Dataset/'

In [7]:
states=os.listdir(dataset_path)

In [ ]:
signal_data={}
time_data={}
fs_dict={}
participants={}

for state in states:
    folder_path = f'{dataset_path}/{state}' 
    participants[state]=os.listdir(folder_path)
    signal_data[state], time_data[state], fs_dict[state] = RawData.read_signals(folder_path) # Returns three dictionaries with subjects info: raw signals (signal_data), temporal data ready to graph (time_data) and sample frequency for escha signal(fs_dict).

In [ ]:
df_stress = pd.DataFrame(signal_data['STRESS']).T
df_stress.columns = ['ACC', 'BVP', 'EDA', 'HR', 'tags', 'TEMP']
df_stress.head()

,ACC,BVP,EDA,HR,tags,TEMP
f01,"[[-8.0, -17.0, 54.0], [-14.0, -12.0, 52.0], [-...","[[-0.0], [-0.0], [-0.0], [-0.0], [-0.0], [-0.0...","[[0.0], [0.298406], [0.357319], [0.348354], [0...","[[85.0], [84.0], [83.67], [74.75], [71.4], [71...","[0, 287, 408, 860, 1714, 1751, 1772, 1804, 297...","[[30.05], [30.05], [30.05], [30.05], [30.05], ..."
f02,"[[38.0, 13.0, 28.0], [22.0, 2.0, 69.0], [32.0,...","[[-0.0], [-0.0], [-0.0], [-0.0], [-0.0], [-0.0...","[[0.0], [0.843838], [1.188555], [1.609903], [1...","[[54.0], [54.0], [53.67], [52.25], [60.4], [66...","[0, 851, 929, 1308, 2100, 2142, 2204, 2239, 26...","[[32.41], [32.41], [32.41], [32.41], [32.41], ..."
f03,"[[-14.0, 26.0, 59.0], [-17.0, 30.0, 52.0], [-2...","[[-0.0], [-0.0], [-0.0], [-0.0], [-0.0], [-0.0...","[[0.0], [0.645325], [0.646605], [0.843788], [1...","[[85.0], [73.0], [64.67], [60.75], [70.4], [67...","[0, 785, 949, 1210, 2296, 2325, 2344, 2375, 32...","[[33.27], [33.27], [33.27], [33.27], [33.27], ..."
f04,"[[-17.0, -6.0, 59.0], [-17.0, -6.0, 60.0], [-1...","[[-0.0], [-0.0], [-0.0], [-0.0], [-0.0], [-0.0...","[[0.0], [0.044849], [0.079447], [0.076885], [0...","[[52.0], [80.5], [88.67], [110.0], [122.8], [1...","[0, 1009, 1111, 1376, 2236, 2276, 2317, 2355, ...","[[29.83], [29.83], [29.83], [29.83], [29.83], ..."
f05,"[[-1.0, 10.0, 63.0], [-1.0, 9.0, 63.0], [-1.0,...","[[-0.0], [-0.0], [-0.0], [-0.0], [-0.0], [-0.0...","[[0.0], [0.103675], [0.203511], [0.199671], [0...","[[62.0], [63.5], [63.33], [63.5], [63.6], [64....","[0, 2172, 2263, 2513, 3394, 3436, 3455, 3495, ...","[[31.73], [31.73], [31.73], [31.73], [31.73], ..."

In [10]:
df_time = pd.DataFrame(time_data['STRESS']).T
df_time.head()

,ACC,BVP,EDA,HR,tags,TEMP
f01,"[2013-06-12 16:18:58, 2013-06-12 16:18:58.0312...","[2013-06-12 16:18:58, 2013-06-12 16:18:58.0156...","[2013-06-12 16:18:58, 2013-06-12 16:18:58.2500...","[2013-06-12 16:18:58, 2013-06-12 16:18:59.0003...","[2013-06-12 16:18:58, 2013-06-12 16:18:59.0003...","[2013-06-12 16:18:58, 2013-06-12 16:18:58.2500..."
f02,"[2013-06-12 17:26:25, 2013-06-12 17:26:25.0312...","[2013-06-12 17:26:25, 2013-06-12 17:26:25.0156...","[2013-06-12 17:26:25, 2013-06-12 17:26:25.2500...","[2013-06-12 17:26:25, 2013-06-12 17:26:26.0003...","[2013-06-12 17:26:25, 2013-06-12 17:26:26.0003...","[2013-06-12 17:26:25, 2013-06-12 17:26:25.2500..."
f03,"[2013-06-12 18:28:42, 2013-06-12 18:28:42.0312...","[2013-06-12 18:28:42, 2013-06-12 18:28:42.0156...","[2013-06-12 18:28:42, 2013-06-12 18:28:42.2500...","[2013-06-12 18:28:42, 2013-06-12 18:28:43.0002...","[2013-06-12 18:28:42, 2013-06-12 18:28:43.0002...","[2013-06-12 18:28:42, 2013-06-12 18:28:42.2500..."
f04,"[2013-06-15 19:44:24, 2013-06-15 19:44:24.0312...","[2013-06-15 19:44:24, 2013-06-15 19:44:24.0156...","[2013-06-15 19:44:24, 2013-06-15 19:44:24.2500...","[2013-06-15 19:44:24, 2013-06-15 19:44:25.0002...","[2013-06-15 19:44:24, 2013-06-15 19:44:25.0002...","[2013-06-15 19:44:24, 2013-06-15 19:44:24.2500..."
f05,"[2013-07-02 10:07:30, 2013-07-02 10:07:30.0312...","[2013-07-02 10:07:30, 2013-07-02 10:07:30.0156...","[2013-07-02 10:07:30, 2013-07-02 10:07:30.2500...","[2013-07-02 10:07:30, 2013-07-02 10:07:31.0002...","[2013-07-02 10:07:30, 2013-07-02 10:07:31.0002...","[2013-07-02 10:07:30, 2013-07-02 10:07:30.2500..."

In [16]:
path = 'meta-data/'
df_stress.to_pickle(path + 'stress_signals_D2.pkl')
df_time.to_pickle(path + 'stress_time_D2.pkl')

In [ ]:
import pandas as pd
import numpy as np

df_all = RawData.process_all_signals(df_stress, df_time)

In [51]:
df_all

,time,X,Y,Z,participant,signal_type,signal
0,2013-06-12 16:18:58,-28.96875,7.18750,58.7500,f01,ACC,NaN
1,2013-06-12 16:18:59,-37.87500,18.06250,49.4375,f01,ACC,NaN
2,2013-06-12 16:19:00,-34.21875,16.12500,52.5625,f01,ACC,NaN
3,2013-06-12 16:19:01,-36.87500,18.25000,50.2500,f01,ACC,NaN
4,2013-06-12 16:19:02,-33.93750,18.71875,52.1875,f01,ACC,NaN
...,...,...,...,...,...,...,...
464885,2013-02-25 19:44:42,NaN,NaN,NaN,S18,TEMP,33.63
464886,2013-02-25 19:44:43,NaN,NaN,NaN,S18,TEMP,33.63
464887,2013-02-25 19:44:44,NaN,NaN,NaN,S18,TEMP,33.61
464888,2013-02-25 19:44:45,NaN,NaN,NaN,S18,TEMP,33.59
464889,2013-02-25 19:44:46,NaN,NaN,NaN,S18,TEMP,33.59

In [ ]:
import numpy as np
import pandas as pd

def pad_dataframe(df, max_len):
    if len(df) < max_len:
        padding = pd.DataFrame(0, index=np.arange(max_len - len(df)), columns=df.columns)
        df = pd.concat([df, padding], ignore_index=True)
    df.reset_index(drop=True, inplace=True)    
    return df

for participant in df_all['participant'].unique():
    print(f"Processing participant: {participant}")
    df_sub = df_all[df_all["participant"] == participant]
    df_sub_acc = df_sub[df_sub["signal_type"] == "ACC"]
    df_sub_eda = df_sub[df_sub["signal_type"] == "EDA"]
    df_sub_bvp = df_sub[df_sub["signal_type"] == "BVP"]
    df_sub_hr = df_sub[df_sub["signal_type"] == "HR"]
    df_sub_temp = df_sub[df_sub["signal_type"] == "TEMP"]

    max_len = max(len(df_sub_acc), len(df_sub_eda), len(df_sub_bvp), len(df_sub_hr), len(df_sub_temp))

    df_sub_hr = pad_dataframe(df_sub_hr, max_len)
    df_sub_bvp = pad_dataframe(df_sub_bvp, max_len)
    df_sub_eda = pad_dataframe(df_sub_eda, max_len)
    df_sub_acc = pad_dataframe(df_sub_acc, max_len)
    df_sub_temp = pad_dataframe(df_sub_temp, max_len)

    df_part = pd.DataFrame()
    df_part['time'] = df_sub_acc['time']
    df_part['ACC_X'] = df_sub_acc['X']
    df_part['ACC_Y'] = df_sub_acc['Y']
    df_part['ACC_Z'] = df_sub_acc['Z']
    df_part['EDA'] = df_sub_eda['signal']
    df_part['BVP'] = df_sub_bvp['signal']
    df_part['HR'] = df_sub_hr['signal']
    df_part['TEMP'] = df_sub_temp['signal']
    df_part['participant'] = participant

    # Get tags for this participant
    time_stress = df_stress.loc[participant, 'tags']
    print(f"Time stress for participant {participant}: {time_stress}")

    df_part['stress'] = 0

    # intervals based on participant ID
    if 'f' in str(participant):
        if 'a' in str(participant):
            continue
        stress_intervals = [(time_stress[2], time_stress[3]),
                            (time_stress[4], time_stress[5]),
                            (time_stress[6], time_stress[7]),
                            (time_stress[8], time_stress[9])]
    else:
        stress_intervals = [(time_stress[3], time_stress[4]),
                            (time_stress[5], time_stress[6]),
                            (time_stress[7], time_stress[8]),
                            (time_stress[9], time_stress[10])]


    if np.issubdtype(df_part['time'].dtype, np.datetime64):
        time_seconds = (df_part['time'] - df_part['time'].iloc[0]).dt.total_seconds()
    else:
        time_seconds = df_part['time']

    print(type(time_seconds), type(start))   
        
    df_part['time'] = pd.to_datetime(df_part['time'])
    time_seconds = (df_part['time'] - df_part['time'].iloc[0]).dt.total_seconds()
    for start, end in stress_intervals:
        mask = (time_seconds >= start) & (time_seconds <= end)
        df_part.loc[mask, 'stress'] = 1
   
    print(df_part.stress.value_counts())

    df_part.to_csv(path + str(participant) + '.csv', index=False)

Processing participant: f01
Time stress for participant f01: [0, 287, 408, 860, 1714, 1751, 1772, 1804, 2973, 2999]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2702
1     551
Name: count, dtype: int64
Processing participant: f02
Time stress for participant f02: [0, 851, 929, 1308, 2100, 2142, 2204, 2239, 2678, 2709]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2488
1     491
Name: count, dtype: int64
Processing participant: f03
Time stress for participant f03: [0, 785, 949, 1210, 2296, 2325, 2344, 2375, 3297, 3332]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    3238
1     360
Name: count, dtype: int64
Processing participant: f04
Time stress for participant f04: [0, 1009, 1111, 1376, 2236, 2276, 2317, 2355, 3179, 3215]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    3266
1     383
Name: count, dtype: int64
Processing participant: f05
Time stress for participant f05: [0, 2172, 2263, 2513, 3394, 3436, 3455, 3495, 4290, 4338]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    4215
1     384
Name: count, dtype: int64
Processing participant: f06
Time stress for participant f06: [0, 587, 673, 914, 1767, 1808, 1836, 1875, 2753, 2792]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2810
1     364
Name: count, dtype: int64
Processing participant: f07
Time stress for participant f07: [0, 783, 860, 1107, 1943, 1983, 2010, 2052, 2952, 2995]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    3083
1     376
Name: count, dtype: int64
Processing participant: f08
Time stress for participant f08: [0, 523, 621, 910, 1783, 1819, 1854, 1891, 2553, 2593]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2776
1     406
Name: count, dtype: int64
Processing participant: f09
Time stress for participant f09: [0, 745, 843, 1110, 1929, 1967, 1989, 2029, 2829, 2867]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2848
1     387
Name: count, dtype: int64
Processing participant: f10
Time stress for participant f10: [0, 229, 338, 593, 1437, 1478, 1508, 1552, 2334, 2377]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2348
1     387
Name: count, dtype: int64
Processing participant: f11
Time stress for participant f11: [0, 720, 825, 1124, 1954, 1988, 2012, 2050, 2857, 2894]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2712
1     412
Name: count, dtype: int64
Processing participant: f12
Time stress for participant f12: [0, 2337, 2428, 2679, 3539, 3577, 3604, 3641, 4450, 4488]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    4442
1     368
Name: count, dtype: int64
Processing participant: f13
Time stress for participant f13: [0, 1094, 1200, 1417, 2461, 2498, 2527, 2565, 3407, 3448]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    3529
1     337
Name: count, dtype: int64
Processing participant: f14_a
Time stress for participant f14_a: []
Processing participant: f14_b
Time stress for participant f14_b: [0, 142, 232, 478, 1189, 1228, 1270, 1319, 1958, 2001]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1790
1     381
Name: count, dtype: int64
Processing participant: f15
Time stress for participant f15: [0, 2010, 2097, 2361, 3175, 3213, 3235, 3274, 3909, 3974]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    3811
1     410
Name: count, dtype: int64
Processing participant: f16
Time stress for participant f16: [0, 861, 942, 1186, 2121, 2165, 2189, 2219, 2874, 2910]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2883
1     358
Name: count, dtype: int64
Processing participant: f17
Time stress for participant f17: [0, 728, 864, 1130, 1950, 1995, 2019, 2067, 2886, 2932]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    3034
1     409
Name: count, dtype: int64
Processing participant: f18
Time stress for participant f18: [0, 975, 1061, 1297, 2075, 2112, 2130, 2167, 2810, 2846]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2792
1     350
Name: count, dtype: int64
Processing participant: S01
Time stress for participant S01: [0, 371, 618, 793, 898, 1338, 1463, 1770, 1798, 1836, 1873, 1915, 1947, 1962]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1926
1     299
Name: count, dtype: int64
Processing participant: S02
Time stress for participant S02: [0, 1, 193, 279, 395, 644, 771, 1126, 1161, 1189, 1223, 1247, 1280, 1296]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    2781
1     316
Name: count, dtype: int64
Processing participant: S03
Time stress for participant S03: [0, 278, 465, 552, 656, 912, 1040, 1335, 1369, 1388, 1419, 1449, 1482, 1516]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1286
1     301
Name: count, dtype: int64
Processing participant: S04
Time stress for participant S04: [0, 181, 361, 519, 615, 989, 1126, 1470, 1502, 1553, 1585, 1633, 1665, 1709]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1433
1     301
Name: count, dtype: int64
Processing participant: S05
Time stress for participant S05: [0, 196, 379, 478, 590, 926, 1095, 1322, 1356, 1417, 1448, 1493, 1525, 1537]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1232
1     350
Name: count, dtype: int64
Processing participant: S06
Time stress for participant S06: [0, 55, 248, 334, 462, 796, 936, 1241, 1273, 1306, 1334, 1362, 1396, 1409]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1113
1     332
Name: count, dtype: int64
Processing participant: S07
Time stress for participant S07: [0, 115, 278, 389, 492, 764, 893, 1178, 1210, 1248, 1280, 1327, 1358, 1394]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1129
1     300
Name: count, dtype: int64
Processing participant: S08
Time stress for participant S08: [0, 44, 220, 365, 470, 759, 914, 1182, 1214, 1240, 1273, 1306, 1338, 1372]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1100
1     329
Name: count, dtype: int64
Processing participant: S09
Time stress for participant S09: [0, 154, 346, 445, 544, 786, 917, 1195, 1227, 1273, 1305, 1341, 1372, 1408]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1151
1     298
Name: count, dtype: int64
Processing participant: S10
Time stress for participant S10: [0, 67, 251, 360, 477, 839, 974, 1343, 1372, 1406, 1435, 1462, 1493, 1532]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1345
1     314
Name: count, dtype: int64
Processing participant: S11
Time stress for participant S11: [0, 24, 194, 303, 455, 734, 885, 1135, 1166, 1205, 1236, 1268, 1300, 1337]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1033
1     369
Name: count, dtype: int64
Processing participant: S12
Time stress for participant S12: [0, 105, 304, 407, 516, 871, 1002, 1341, 1371, 1408, 1435, 1484, 1515, 1549]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1303
1     301
Name: count, dtype: int64
Processing participant: S13
Time stress for participant S13: [0, 173, 382, 501, 614, 975, 1102, 1399, 1428, 1469, 1499, 1530, 1562, 1598]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1321
1     303
Name: count, dtype: int64
Processing participant: S14
Time stress for participant S14: [0, 202, 412, 538, 647, 999, 1136, 1468, 1498, 1528, 1557, 1582, 1616, 1653]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1378
1     309
Name: count, dtype: int64
Processing participant: S15
Time stress for participant S15: [0, 198, 405, 476, 586, 937, 1099, 1409, 1441, 1472, 1503, 1534, 1568, 1599]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1295
1     339
Name: count, dtype: int64
Processing participant: S16
Time stress for participant S16: [0, 330, 523, 626, 727, 959, 1111, 1457, 1488, 1523, 1553, 1576, 1609, 1641]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1346
1     318
Name: count, dtype: int64
Processing participant: S17
Time stress for participant S17: [0, 302, 476, 578, 670, 948, 1107, 1416, 1447, 1468, 1499, 1526, 1559, 1593]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1295
1     317
Name: count, dtype: int64
Processing participant: S18
Time stress for participant S18: [0, 237, 421, 517, 631, 948, 1106, 1420, 1453, 1475, 1505, 1534, 1566, 1604]
<class 'pandas.core.series.Series'> <class 'int'>
stress
0    1292
1     339
Name: count, dtype: int64